/*---------- Обнуление элементов ----------*/

body {margin: 0; padding: 0;}
table {border-collapse: collapse;}
td {padding: 0; vertical-align: top;}
img {border: 0;}
form {margin: 0; padding: 0;}
h1 {margin: 0; padding: 0;}
a {text-decoration: none;}

.container {
    width: 1200px;
    margin: 0 auto;
}


/*---------- Шапка ----------*/

header {
    display: grid;
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #00b4ff;
}

nav.toolbar {
    display: grid;
    height: 56px;
    width: 97vw;
    grid-template-columns: 1fr 4fr 1fr;

}

.headerAuth {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.RegAuth {
    display: grid;
    justify-items: center;
    align-items: center;
}

a.hrefRegAuth {
    text-decoration: none; color: white;
    font-size: 17px;
}

a.hrefRegAuth:hover {
    text-decoration: none; color: rgba(255, 255, 255, 0.795);
}

img.logoutImage {
    width: 50%;
    height: 50%;
}

.exitButtony:hover {
    opacity: 1;
}

/*---------- Основная часть страницы ----------*/

main {
    height: 100vh;
}




/*---------- Форма ----------*/

.boring-div ::after {
    content: " *";
    color: red;
}

.boring-text ::before {
    content: "tokikiston!";
    color: green;
}

/*---------- Профиль ----------*/

.profileBox {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.avatarContainer {
    display: grid;
    justify-content: center;
    padding-top: 3vh;
    padding-bottom: 3vh; /* Надо будет доработать */
}

.avatarImage {
    width: 180px; /* задаете свои размеры */
    height: 180px;
    overflow: hidden;
    background: #fff;
    padding: 5px; /* создание отступов */
    border-radius: 50%;
    /* не забываем о кроссбраузерности */
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: #aaa 1px solid;
    box-shadow: 0px 1px 1px 1px #bbb; /* тень */
    -moz-box-shadow: 0px 1px 1px 1px #bbb;
    -webkit-box-shadow: 0px 1px 1px 1px #bbb;
}
.avatarImage img {
    display: block;
    width:100%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.profileData {
    background-color: gold;
}