
<header class="headerly">
<nav class="toolbar">
    <div class="headerLogo">
        <a href="/">
            <img src="img/logo2.png" alt="альтернативный текст">
        </a>
    </div>
    <div class="espacio">
    </div>
    <div class="headerAuth">
        <div class="RegAuth">
            <a href="registration.php" class="hrefRegAuth">Sign in</a>
        </div>
        <div class="RegAuth">
            <a href="authorization.php" class="hrefRegAuth">Log in</a>
        </div>
    </div>
</nav>
</header>
